# global code owners
*       @PureWhiteWu @zhangyunhao116 @joway @jayantxie

# cache code owners
/cache/asynccache @PureWhiteWu @zhangyunhao116

# cloud code owners
/cloud/circuitbreaker @PureWhiteWu @zhangyunhao116
/cloud/metainfo @xiaost @YangruiEmma @jayantxie

# collection code owners
/collection/hashset @lyeeeeee @PureWhiteWu
/collection/skipmap @zhangyunhao116 @PureWhiteWu
/collection/skipset @zhangyunhao116 @PureWhiteWu
/collection/zset @SilverRainZ @zhangyunhao116

# lang code owners
/lang/fastrand @zhangyunhao116 @PureWhiteWu
/lang/mcache @PureWhiteWu @zhangyunhao116
/lang/syncx @PureWhiteWu @zhangyunhao116
/lang/stringx @kaka19ace
/lang/channel @joway @jayantxie @ppzqh

# util code owners
/util/gopool @PureWhiteWu @zhangyunhao116
/util/logger @PureWhiteWu @zhangyunhao116
/util/xxhash3 @lyeeeeee
/util/gctuner @joway @jayantxie @ppzqh
