# global code owners
*       @PureWhiteWu @JasonChen233 @xiaost

# cache code owners
/cache/asynccache @PureWhiteWu @JasonChen233

# cloud code owners
/cloud/circuitbreaker @PureWhiteWu @JasonChen233
/cloud/metainfo @xiaost @YangruiEmma

# collection code owners
/collection/hashset @lyeeeeee @PureWhiteWu
/collection/skipmap @JasonChen233 @PureWhiteWu
/collection/skipset @JasonChen233 @PureWhiteWu
/collection/zset @JasonChen233

# lang code owners
/lang/fastrand @JasonChen233 @PureWhiteWu
/lang/mcache @PureWhiteWu @JasonChen233
/lang/syncx @PureWhiteWu @JasonChen233
/lang/stringx @kaka19ace
/lang/channel @xiaost @ppzqh

# util code owners
/util/gopool @PureWhiteWu @JasonChen233
/util/logger @PureWhiteWu @JasonChen233
/util/xxhash3 @lyeeeeee
/util/gctuner @xiaost @ppzqh
