name: Push Check

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Check License Header
        uses: apache/skywalking-eyes@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint
        run: |
          test -z "$(gofmt -s -l .)"
          go vet -stdmethods=false $(go list ./...)

      - name: Unit Test
        run: go test -v -cpu=4 -race -covermode=atomic -coverprofile=coverage.out ./...
